<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="/public/fonts/icomoon/style.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
  <!-- Style -->
  <link rel="stylesheet" href="/public/css/style_logIn.css">
  <title>Login</title>
</head>

<body>
  <header>
    <a href="/" class="logo"
      style="font-family: 'Nanum Brush Script', cursive; font-size: 40px;color:rgb(158 31 108);"><i
        class="fas fa-graduation-cap"></i> scholarSPACE</a>
  </header>
  <div class="content">
    <div class="container">
      <div class="row" style="margin-left: -156px; margin-right: -156px;">
        <div class="col-md-6 order-md-2">
          <img src="/public/images/undraw_mobile_login_ikmv.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <div class="mb-10" style="font-size: 1.3rem;">
                <h1 style="font-size: 4rem;">Sign In to <strong>scholarSPACE</strong></h1>
              </div>
              <br>
              {{#if message}}
              <div class="alert {{messageClass}}" role="alert">
                {{message}}
              </div>
              {{/if}}
              <form action="/auth/login" method="post">
                <div class="form-group">
                  <select name="type" class="form-control"
                    style="width: 562.48px; color: #a19f9f; font-size: 22px; margin-bottom:0; border-bottom: 1px solid #ccc; background-color:#f8fafb;"
                    required>
                    <option class="option" value="">Who are you?</option>
                    <option class="option" value="student">Student</option>
                    <option class="option" value="teacher">Teacher</option>
                    <option class="option" value="admin">Admin</option>
                  </select>
                </div>
                <br>
                <div class="form-group first">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" name="username" id="username" required>
                </div>
                <br>
                <div class="form-group last mb-4">
                  <div class="row">
                    <div class="col-md-11">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" id="password" style="width: 562.48px"
                        required>
                    </div>
                    <div class="col-md-1" style="margin-top : 21px; ">
                      <i toggle="#password-field" class="fa fa-fw fa-eye-slash field_icon toggle-password"></i>
                    </div>
                  </div>
                </div>
                <br>
                <br>
                <input type="submit" value="Log In" class="btn btn-2 btn-2d">
                <br>
                <span class="ml-auto" style="font-size: 1.2rem;"> Don't have an acccount? <a href="/signUp"
                    class="ml-auto"> Register here</a></span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/public/js/jquery-3.3.1.min.js"></script>
  <script src="/public/js/popper.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/main_logIn.js"></script>
</body>

</html>