<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- custom css file link  -->
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Federo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
  <title>College Management System</title>

</head>

<body>
  <!-- header section starts  -->
  <header class="header" style="background: rgb(28 45 92 / 70%); box-shadow: rgba(0, 0, 0, 0.4) 0px 0.2rem 0.5rem;">
    <a href="#home" class="logo" style="font-family: 'Nanum Brush Script', cursive; font-size: 40px; color: #fff;"><i
        class="fas fa-graduation-cap"></i> scholarSPACE</a>
    <div class="fas fa-bars"></div>
    <nav class="navbar">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#pricing">Plans</a></li>
        <li><a href="#service">Services</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="/login">LogIn</a></li>
        <li><a href="/signUp">SignUp</a></li>
      </ul>
    </nav>
  </header>
  <!-- header section ends -->
  <!-- home section starts  -->
  <section id="home" class="home">

    <div class="container">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="150%" height="200%"
        viewBox="0 0 663.71 636.17">
        <defs>
          <style>
            .cls-5 {
              fill: none
            }

            .cls-9 {
              mix-blend-mode: soft-light
            }

            .cls-10 {
              clip-path: url(#clip-path-3)
            }

            .cls-13 {
              clip-path: url(#clip-path-5)
            }

            .cls-16 {
              clip-path: url(#clip-path-7)
            }

            .cls-19 {
              clip-path: url(#clip-path-9)
            }
          </style>
          <linearGradient id="linear-gradient" x1=".98" y1="649.2" x2="1.4" y2="649.2"
            gradientTransform="matrix(1390 0 0 -1390 -1308 902708.42)" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#fff" />
            <stop offset="1" />
          </linearGradient>
          <linearGradient id="linear-gradient-2" x1=".62" y1="650.15" x2="1.04" y2="650.15"
            gradientTransform="matrix(0 -889.1 -889.1 0 578489.4 931.84)" gradientUnits="userSpaceOnUse">
            <stop offset="0" />
            <stop offset="1" stop-color="#fff" />
          </linearGradient>
          <linearGradient id="linear-gradient-3" x1=".67" y1="648.79" x2="1.09" y2="648.79"
            gradientTransform="matrix(1040.21 0 0 -1040.21 -537.4 675195.92)" xlink:href="#linear-gradient" />
          <linearGradient id="linear-gradient-4" x1=".58" y1="649.22" x2="1.01" y2="649.22"
            gradientTransform="matrix(889.1 0 0 -889.1 -217.1 577674.05)" xlink:href="#linear-gradient" />
          <clipPath id="clip-path" transform="translate(-15.05 -5.68)">
            <path class="cls-5" d="M15.05 5.68h663.71v636.17H15.05z" />
          </clipPath>
          <clipPath id="clip-path-2" transform="translate(-15.05 -5.68)">
            <path class="cls-5" d="M15.05 5.68h663.71v636.17H15.05z" />
          </clipPath>
          <clipPath id="clip-path-3" transform="translate(-15.05 -5.68)">
            <path class="cls-5" d="M45.68 18.02h599v602.74h-599z" />
          </clipPath>
          <filter id="luminosity-noclip" x="45.68" y="18.02" width="599" height="602.74" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feFlood flood-color="#fff" result="bg" />
            <feBlend in="SourceGraphic" in2="bg" />
          </filter>
          <mask id="mask" x="30.63" y="12.34" width="599" height="602.74" maskUnits="userSpaceOnUse">
            <path fill="url(#linear-gradient)" d="M45.68 18.02h599v602.74h-599z" transform="translate(-15.05 -5.68)"
              filter="url(#luminosity-noclip)" />
          </mask>
          <clipPath id="clip-path-5" transform="translate(-15.05 -5.68)">
            <path class="cls-5" d="M253.7 1.85h384.32v385.9H253.7z" />
          </clipPath>
          <filter id="luminosity-noclip-2" x="253.7" y="1.85" width="384.32" height="385.9" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feFlood flood-color="#fff" result="bg" />
            <feBlend in="SourceGraphic" in2="bg" />
          </filter>
          <mask id="mask-2" x="238.66" y="-3.83" width="384.32" height="385.9" maskUnits="userSpaceOnUse">
            <path fill="url(#linear-gradient-2)" d="M253.7 1.85h384.32v385.9H253.7z" transform="translate(-15.05 -5.68)"
              filter="url(#luminosity-noclip-2)" />
          </mask>
          <clipPath id="clip-path-7" transform="translate(-15.05 -5.68)">
            <path class="cls-5" d="M12.07 12.18h602.74v599H12.07z" />
          </clipPath>
          <filter id="luminosity-noclip-3" x="-209.1" y="-210.36" width="1045.07" height="1044.1"
            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-color="#fff" result="bg" />
            <feBlend in="SourceGraphic" in2="bg" />
          </filter>
          <mask id="mask-3" x="-224.15" y="-216.05" width="1045.07" height="1044.1" maskUnits="userSpaceOnUse">
            <path transform="rotate(-66.2 301.556 320.39)" fill="url(#linear-gradient-3)"
              d="M-82.21-84.92h791.29v793.21H-82.21z" filter="url(#luminosity-noclip-3)" />
          </mask>
          <clipPath id="clip-path-9" transform="translate(-15.05 -5.68)">
            <path class="cls-5" d="M296.68 257.96h385.91v384.32H296.68z" />
          </clipPath>
          <filter id="luminosity-noclip-4" x="296.68" y="257.96" width="385.91" height="384.32"
            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-color="#fff" result="bg" />
            <feBlend in="SourceGraphic" in2="bg" />
          </filter>
          <mask id="mask-4" x="281.63" y="252.28" width="385.91" height="384.32" maskUnits="userSpaceOnUse">
            <path fill="url(#linear-gradient-4)" d="M296.68 257.96h385.91v384.32H296.68z"
              transform="translate(-15.05 -5.68)" filter="url(#luminosity-noclip-4)" />
          </mask>
        </defs>
        <g style="isolation:isolate">
          <g clip-path="url(#clip-path)" id="Layer_1" data-name="Layer 1">
            <g clip-path="url(#clip-path-2)">
              <g class="cls-1">
                <g mask="url(#mask)">
                  <path
                    d="M110.77 620.33c-34.63 0-61.26-26.63-61.26-61.26C49.51 263.4 286.58 21 579.58 21c34.63 0 61.27 29.3 61.27 63.93 0 32-26.64 61.26-61.27 61.26C355.83 146.19 172 330 172 559.07c0 34.63-29.3 61.26-61.27 61.26"
                    transform="translate(-15.05 -5.68)" fill="#54bb78" />
                </g>
              </g>
              <g class="cls-2">
                <g mask="url(#mask-2)">
                  <path
                    d="M637.59 322.66c0 32-26.63 61.27-61.26 61.27-175.81 0-319.65-143.84-319.65-317 0-34.63 26.64-61.27 61.27-61.27S379.21 32.32 379.21 67c0 106.55 87.91 194.45 197.12 194.45 34.63 0 61.26 26.64 61.26 61.26"
                    transform="translate(-15.05 -5.68)" fill="#f8d83b" />
                </g>
              </g>
              <g class="cls-3">
                <g mask="url(#mask-3)">
                  <path
                    d="M614.38 546.09c0 34.63-26.64 61.27-61.26 61.27-295.68 0-538.07-237.07-538.07-530.08C15.05 42.65 44.35 16 79 16c32 0 61.27 26.64 61.27 61.27C140.24 301 324 484.83 553.12 484.83c34.62 0 61.26 29.3 61.26 61.26"
                    transform="translate(-15.05 -5.68)" fill="#7557a4" />
                </g>
              </g>
              <g class="cls-4">
                <g mask="url(#mask-4)">
                  <path
                    d="M361.77 641.85c-32 0-61.26-26.64-61.26-61.27 0-175.8 143.84-319.64 317-319.64 34.63 0 61.27 26.64 61.27 61.26s-26.64 61.27-61.27 61.27c-106.57 0-194.51 87.9-194.51 197.11 0 34.63-26.64 61.27-61.27 61.27"
                    transform="translate(-15.05 -5.68)" fill="#d4eef7" />
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="overlay">
      <h1 class="banner" style="padding-top:400px; color: #fff;">COLLEGE MANAGEMENT SYSTEM</h1>
      <h3 class="slogan" style="font-family: 'Sulphur Point', sans-serif; color: #fff;">"An easy way of organising your
        college work, for a hassle-free <br>learning experience."</h3>
      <br>
      <a href="/get_started"><button class="btn btn-1 btn-1b"
          style="border-radius: 10px; font-family: 'Raleway', sans-serif;">GET STARTED</button></a>
    </div>

    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>

  </section>
  <!-- home section ends -->
  <!-- about section starts  -->

  <section id="about" class="about">
    <div class="context">
      <h1 class="heading">ABOUT US</h1>
      <div class="row">
        <div class="content" style="padding-bottom:40px;">
          <p>A college management system is a online software that enables higher education institutions & colleges to
            manage the database of teachers, students enrolled within the institution, manage projects and events,
            grades, assignments. .</p>
          <p>scholarSPACE for colleges is a comprehensive web-based software with a responsive design. This helps
            colleges and universities to save time, money and resources.</p>
          <p>The software helps the educational institutes to track the major functionalities and manage academics with
            its advanced and user-friendly features. scholarSPACE is designed in order to minimize the complexity faced
            by colleges. With this reliable and secure solution the college can now achieve the goal of becoming a
            paperless organization. </p>
        </div>
        <div class="image">
          <img src="/public/images/undraw_team_spirit_hrr4.svg" alt="">
        </div>
      </div>
    </div>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </section>
  <!-- about section starts  -->
  <!-- plan section starts  -->
  <section id="pricing" class="pricing"
    style="background: linear-gradient(100deg, #c1afc2 0%,#c7cde2 33%,#d7e0d6 66%,#fff9e1 100%);">
    <h1 class="heading" style="text-shadow: 2px 2px #2b2626;">SUBSCRIPTION PLANS</h1>
    <div class="row">
      <div class="content">
        <p>This subscription plan is for college or university which will then allow all their teachers and students to
          work on it. this plan is very suitable for a college who wants a single platform.</p>
      </div>
    </div>
    <div id="generic_price_table"
      style="background: linear-gradient(100deg, #c1afc2 0%,#c7cde2 33%,#d7e0d6 66%,#fff9e1 100%);">
      <div class="container">
        <div class="row">
          <div class="card" style="margin: 6.5rem; width: 50rem;">
            <div class="generic_content clearfix">
              <div class="generic_head_price clearfix">
                <div class="generic_head_content clearfix">
                  <div class="head_bg"></div>
                  <div class="head">
                    <span>Basic</span>
                  </div>
                </div>
                <div class="generic_price_tag clearfix">
                  <span class="price">
                    <span class="sign">Rs.</span>
                    <span class="currency">10000</span>
                    <span class="cent">.00</span>
                    <span class="month">/month</span>
                  </span>
                </div>
              </div>
              <div class="generic_feature_list">
                <ul>
                  <li><span>Database Management</span></li>
                  <li><span>Event Management</span></li>
                  <li><span>Announcements</span></li>
                  <li><span>Customised groups</span></li>
                  <li><span>To-do lists</span></li>
                </ul>
              </div>
              <div class="generic_price_btn clearfix">
                <a class="" href="/get_started">Select Plan</a>
              </div>
            </div>
          </div>
          <div class="card" style="margin: 6.5rem; width: 50rem;">
            <div class="generic_content active clearfix">
              <div class="generic_head_price clearfix">
                <div class="generic_head_content clearfix">
                  <div class="head_bg"></div>
                  <div class="head">
                    <span>Standard</span>
                  </div>
                </div>
                <div class="generic_price_tag clearfix">
                  <span class="price">
                    <span class="sign">Rs.</span>
                    <span class="currency">20000</span>
                    <span class="cent">.00</span>
                    <span class="month">/month</span>
                  </span>
                </div>
              </div>
              <div class="generic_feature_list">
                <ul>
                  <li><span>Database Management</span></li>
                  <li><span>Event Management</span></li>
                  <li><span>Announcements</span></li>
                  <li><span>Customised groups</span></li>
                  <li><span>Discussion Forum</span></li>
                  <li><span>Customised workspace</span></li>
                </ul>
              </div>
              <div class="generic_price_btn clearfix">
                <a class="" href="/get_started">Select Plan</a>
              </div>
            </div>
          </div>
          <div class="card" style="margin: 6.5rem; width: 50rem;">
            <div class="generic_content clearfix">
              <div class="generic_head_price clearfix">
                <div class="generic_head_content clearfix">
                  <div class="head_bg"></div>
                  <div class="head">
                    <span>Premium</span>
                  </div>
                </div>
                <div class="generic_price_tag clearfix">
                  <span class="price">
                    <span class="sign">Rs.</span>
                    <span class="currency">42000</span>
                    <span class="cent">.00</span>
                    <span class="month">/month</span>
                  </span>
                </div>
              </div>
              <div class="generic_feature_list">
                <ul>
                  <li><span>Database Management</span></li>
                  <li><span>Event Management</span></li>
                  <li><span>Announcements</span></li>
                  <li><span>Customised groups</span></li>
                  <li><span>Event Calendar</span></li>
                  <li><span>Task Management</span></li>
                  <li><span>Customised workspace</span></li>
                </ul>
              </div>
              <div class="generic_price_btn clearfix">
                <a class="" href="/get_started">Select Plan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- plan section ends  -->
  <!-- service section starts  -->
  <section id="service" class="service">
    <h1 class="heading" style="text-shadow: 2px 2px #2b2626;">OUR SERVICES</h1>
    <br>
    <br><br>
    <br>
    <div class="row">
      <div class="image">
        <img src="/public/images/undraw_personal_information_re_vw8a.svg" alt="">
      </div>
      <div class="content">
        <h3>Student, Teacher database management</h3>
        <p>Create and update complete profile to manages all information pertaining to students’ assignments, academic
          reports, curriculum details, project details, grades, accounts, and much more. It also allows teachers to
          access all student-related information with ease. Make relevant data accessible to the concern. Leave no space
          for the complaint due to insufficient information. It also allows teachers to access all student-related
          information with ease. </p>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="content">
        <h3>Event management</h3>
        <p>Designing and Hosting College event management system. On this platform students can create profile, look
          through the event lists, register for the events and organizers can maintain the event registrations. Update
          posters and attachments. Easily access registered student details for each event for a clean and hassle-free
          experience.</p>
      </div>
      <div class="image">
        <img src="/public/images/undraw_amusement_park_17oe.svg" alt="">
      </div>
    </div>
    <br><br>
    <br>
    <div class="row">
      <div class="image">
        <img src="/public/images/undraw_work_from_anywhere_7sdx.svg" alt="">
      </div>
      <div class="content">
        <h3>Customised groups and Personal workspace</h3>
        <p>Create groups according to the courses offered in the institution to organise the students, instructors and
          projects under each course. Choose to add, remove or update the member details. Add and update course file and
          automatically show it to staff and students. Maintain your personal workspace and keep record of the projects
          assigned and completed till date. Manage the team members and grades of the project.</p>
      </div>
    </div>
    <br><br>
    <br>
    <div class="row">
      <div class="content">
        <h3>Project submission and grades</h3>
        <p>Create projects for respective courses, submit the projects and view pending and evaluated project details.
          Easily grade assignments and provide valuable feedback to the students.</p>
      </div>
      <div class="image">
        <img src="/public/images/undraw_teamwork_hpdk.svg" alt="">
      </div>
    </div>
    <br><br>
    <br>
    <div class="row">
      <div class="image">
        <img src="/public/images/undraw_schedule_pnbk.svg" alt="">
      </div>
      <div class="content">
        <h3>To-do lists and event calendar and announcements</h3>
        <p>Create your personal to-do list and maintain event calendar to easily access academic calendar details and
          organize daily work. An easy way to make announcements and convey information and choose whom to send.</p>
      </div>
    </div>
    <br><br>
    <br>
    <div class="row">
      <div class="content">
        <h3>Support And Backup</h3>
        <p>When colleges seek ERP solutions for their institution what they are actually looking out for is a software
          which not only manages every teeny-tiny activity of the college but also ensures effective support, retrieval
          and efficacy of data.</p>
      </div>
      <div class="image">
        <img src="/public/images/undraw_active_support_6rwo.svg" alt="">
      </div>
    </div>
    <br><br>
    <br>
    <div class="row">
      <div class="image">
        <img src="/public/images/undraw_Gift_card_re_5dyy.svg" alt="">
      </div>
      <div class="content">
        <h3>Customization</h3>
        <p>College automation software has many functions, predetermined actions and tabs, thus will reduce the
          administrative work of colleges. Moreover, colleges have their own rules and regulations which are peculiar to
          that very institution; for such colleges we offer customization.</p>
      </div>
    </div>
  </section>
  <!-- service section ends -->
  <!-- team section starts  -->
  <section id="team" class="team">
    <h1 class="heading" style="text-shadow: 2px 2px #2b2626;">OUR TEAM</h1>
    <div class="row">
      <div class="card" style="margin: 5rem; width: 41rem; height: 45rem;">
        <div class="image">
          <img src="/public/images/prakhar.jpeg" alt="">
        </div>
        <div class="info">
          <h3>Prakhar Saxena</h3>
          {{!-- <span>Title</span> --}}
          <div class="icons">
            <a href="https://www.facebook.com/prakhar.saxena.5667/" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.linkedin.com/in/prakhar-saxena-867b89195/" target="_blank" class="fab fa-linkedin"></a>
            <a href="https://www.instagram.com/prakhar.07_/" target="_blank" class="fab fa-instagram"></a>
          </div>
        </div>
      </div>
      <div class="card" style="margin: 5rem; width: 41rem; height: 45rem;">
        <div class="image">
          <img src="/public/images/saumya.jpg" alt="">
        </div>
        <div class="info">
          <h3>Saumya Patel</h3>
          {{!-- <span>Title</span> --}}
          <div class="icons">
            <a href="https://www.facebook.com/saumya.patel.5811" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.linkedin.com/in/saumya-patel-204a4419a/" target="_blank" class="fab fa-linkedin"></a>
            <a href="https://www.instagram.com/somi__178/" target="_blank" class="fab fa-instagram"></a>
          </div>
        </div>
      </div>
      <div class="card" style="margin: 5rem; width: 41rem; height: 45rem;">
        <div class="image">
          <img src="/public/images/nitant.jpeg" alt="">
        </div>
        <div class="info">
          <h3>Nitant Gupta</h3>
          {{!-- <span>Title</span> --}}
          <div class="icons">
            <a href="https://www.facebook.com/nitant.gupta.311" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.linkedin.com/in/nitant-gupta-0214091b9/" target="_blank" class="fab fa-linkedin"></a>
            <a href="https://www.instagram.com/nitant_08/" target="_blank" class="fab fa-instagram"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- team section ends -->
  <!-- contact section starts  -->
  <section id="contact" class="contact">
    <h1 class="heading" style="text-shadow: 2px 2px #b6b1b1;">CONTACT US</h1>
    <div class="row">
      <div class="image">
        <img src="/public/images/undraw_contact_us_15o2.svg" alt="">
      </div>
      <div class="form-container" style="color:#fff; ">
        <form action="/auth/contact" method="POST">
          <div class="inputBox">
            <input type="text" name="fname" id="fname" placeholder="first name" required>
            <input type="text" name="lname" id="lname" placeholder="last name" required>
          </div>
          <input type="email" name="email" id="email" placeholder="email" required>
          <textarea name="msg" id="msg" cols="30" rows="10" placeholder="message" required></textarea>
          <input type="submit" value="send">
        </form>
      </div>
    </div>
  </section>
  <!-- contact section ends  -->
  <!-- footer section starts  -->
  <section class="footer" style="background:#1c2d5cb3;">
    <h1 style="color:rgb(255 255 255);">JK Lakshmipat University | DBMS | all rights reserved.</h1>
  </section>
  <!-- footer section ends  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/public/js/main.js"></script>
</body>

</html>